@import "tailwindcss";

:root {
  font-family: 'Outfit Variable', ui-sans-serif, system-ui, sans-serif;
}

html {
  color-scheme: light dark;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  overscroll-behavior-x: none;
}
